.game_app {position: relative; min-width:1280px; height: 100vh; overflow: hidden}
.game_app .game {position: absolute; left: 0; bottom: 0; z-index: 10; width: 70000px; height: 100%; background: url('/game1/lib/images/bg_bottom.png') repeat-x; background-size: auto 100%; will-change: transform;}
.game_app .sky {position: absolute; left:0; bottom: 0; z-index: 1; width: 100%; height: 100%; background: url('/game1/lib/images/bg_top.png') repeat-x; background-size: auto 100%;}
.hero_box {position: fixed; bottom: 0; left: 0; z-index: 100; width: 150px; height: 182px; will-change: transform;}
.hero_box .hero {height: 100%; background-image: url('/game1/lib/images/ninja_idle.png'); background-size: 1498px 182px; animation: hero_idle .7s infinite steps(10);}
.hero_box .hero.run, .hero_box .hero.run.attack {background-image: url('/game1/lib/images/ninja_run.png'); background-size: 1498px 182px; animation: hero_run .7s infinite steps(10);}
.hero_box .hero.flip {transform: rotateY(180deg)}
.hero_box .hero.attack {background-image: url('/game1/lib/images/ninja_attack.png'); background-size: 1498px 182px; animation: hero_attack .7s steps(10);}
.hero_bullet {position: absolute; left: 0; bottom: 0; z-index: 90; width: 120px; height: 24px; background: url('/game1/lib/images/hero_bullet.png') no-repeat; background-size: cover; will-change: transform;}
.monster_box {position:absolute; left: 700px; bottom: 0; z-index: 90; width: 280px; height: 294px; will-change: transform}
.monster_box .monster {height: 100%; background: url('/game1/lib/images/monster/monster_green_run.png'); background-size: 2242px 294px; animation: monster_run 1s infinite steps(8)}
.monster_box .hp {position: absolute; left: 0; top: 0; width: 100%; height: 10px; border: 2px solid #000; transform: translateY(-100%)}
.monster_box .hp > span {display: block; width:100%; height: 100%; background: orangered; transition: width .3s;}
.monster_box.remove {opacity: 0; transition: opacity .2s;}

/* 게임 캐릭터 대기 모션 */
@keyframes hero_idle {
    0% {background-position-x: 0}
    100% {background-position-x: -1498px}
}
/* 게임 캐릭터 공격 모션 */
@keyframes hero_attack {
    0% {background-position-x: 0}
    100% {background-position-x: -1498px}
}
/* 게임 캐릭터 달리는 모션 */
@keyframes hero_run {
    0% {background-position-x: 0}
    100% {background-position-x: -1498px}
}

/* 몬스터 달리는 모션 */
@keyframes monster_run {
    0% {background-position-x: 0}
    100% {background-position-x: -2242px}
}

/* will-change : css로 변화될 엘리먼트의 속성값을 브라우저에서 미리 인지하고 준비해 조금 더 부드러운 효과  */