.game_app {position: relative; height: 100vh}
.game_app .game {position: absolute; left: 0; bottom: 0; z-index: 10; width: 100%; height: 100%; background-color: #000}
.hero_box {width: 377px; height: 458px; background-color: red}
.hero_box .hero {height: 100%; background-image: url('/game1/lib/images/ninja_idle.png'); background-size: 3770px 458px; animation: hero_idle .7s infinite steps(10);}
.hero_box .hero.run {background-image: url('/game1/lib/images/ninja_run.png'); background-size: 3770px 458px; animation: hero_run .7s infinite steps(10);}
.hero_box .hero.flip {transform: rotateY(180deg)}
.hero_box .hero.attack {background-image: url('/game1/lib/images/ninja_attack.png'); background-size: 3770px 458px; animation: hero_attack .7s infinite steps(10);}

/* 게임 캐릭터 대기 모션 */
@keyframes hero_idle {
    0% {background-position-x: 0}
    100% {background-position-x: -3770px}
}
/* 게임 캐릭터 공격 모션 */
@keyframes hero_attack {
    0% {background-position-x: 0}
    100% {background-position-x: -3770px}
}
/* 게임 캐릭터 달리는 모션 */
@keyframes hero_run {
    0% {background-position-x: 0}
    100% {background-position-x: -3770px}
}