.game_app {position: relative; height: 100vh; overflow: hidden}
.game_app .game {position: absolute; left: 0; bottom: 0; z-index: 10; width: 70000px; height: 100%; background: url('/game1/lib/images/bg_bottom.png') repeat-x; background-size: auto 100%}
.game_app .sky {position: absolute; left:0; bottom: 0; z-index: 1; width: 100%; height: 100%; background: url('/game1/lib/images/bg_top.png') repeat-x; background-size: auto 100%;}
.hero_box {position: fixed; bottom: 0; left: 0; z-index: 100; width: 150px; height: 182px}
.hero_box .hero {height: 100%; background-image: url('/game1/lib/images/ninja_idle.png'); background-size: 1498px 182px; animation: hero_idle .7s infinite steps(10);}
.hero_box .hero.run {background-image: url('/game1/lib/images/ninja_run.png'); background-size: 1498px 182px; animation: hero_run .7s infinite steps(10);}
.hero_box .hero.flip {transform: rotateY(180deg)}
.hero_box .hero.attack {background-image: url('/game1/lib/images/ninja_attack.png'); background-size: 1498px 182px; animation: hero_attack .7s steps(10);}
.hero_bullet {position: absolute; left: 0; bottom: 0; z-index: 90; width: 120px; height: 24px; background: url('/game1/lib/images/hero_bullet.png') no-repeat; background-size: cover}

/* 게임 캐릭터 대기 모션 */
@keyframes hero_idle {
    0% {background-position-x: 0}
    100% {background-position-x: -1498px}
}
/* 게임 캐릭터 공격 모션 */
@keyframes hero_attack {
    0% {background-position-x: 0}
    100% {background-position-x: -1498px}
}
/* 게임 캐릭터 달리는 모션 */
@keyframes hero_run {
    0% {background-position-x: 0}
    100% {background-position-x: -1498px}
}